* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(60deg, #FF6347, #FFD700, #20B2AA, #8A2BE2); /* Background colors */
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
    flex-direction: column;
}


@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.box {
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    transition: all 0.3s ease;
}
.box:hover input {
    width: 400px;
}
.box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.box a .fas {
    color: rgb(17, 145, 83);
    font-size: 18px;
}


.card-slider {
    width: 80%;
    overflow: hidden;
    margin-top: 50px;
}

.card-slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    min-width: 220px;
    margin: 15px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}


.card:hover {
    transform: scale(1.05); 
    cursor: pointer;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    margin: 5px 0;
}


#slider1:hover {
    transform: translateX(-300px);
}

#slider2:hover {
    transform: translateX(-300px);
}


@media (max-width: 768px) {
    .card-slider {
        width: 90%;
    }

    .card {
        min-width: 200px;
    }
}

@media (max-width: 480px) {
    .card-slider {
        width: 100%;
    }

    .card {
        min-width: 150px;
    }
}



    
