.overlay-2 {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background:transparent
}

.mission {
    color: #ffffff;
    font-size: 24px;
    background-color: #1a73e8; /* Adjust blue color to match the image */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 25%;
    padding: 20px;
    text-align: left;
}

.mission-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    text-align: left;
    font-weight: bold;
    margin-left: 20px;
}

.our {
    font-size: 90px;
    margin-bottom: -10px;
    color: #ffffff; 
}

.mission-heading {
    font-size: 45px;
    margin-top: -10px;
    padding-left: 5px;
    color: #ffffff; 
}

.mission-p {
    flex: 2;
    font-size: 22px;
    line-height: 1.5;
    margin-left: 50px;
    color: #ffffff;
}

.cardcontainer-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height:50%;
    padding: 20px;
    gap: 10px; 

}

.card-2 {
    flex:1; 
    height: 100%; 
    background:linear-gradient(45deg, #fef0ed, #ace3f8); 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out , opacity 0.3s ease-in-out;

}
.card-2 img{
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}
.cardcontainer-2:hover .card-2 {
    opacity: 0.3;
}

.cardcontainer-2 .card-2:hover {
    opacity: 1;
    transform: scale(1.05);
}

.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.contact-item {
    text-align: center;
    margin: 10px;
}

.contact-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-item p {
    font-size: 16px;
    line-height: 1.5;
}
.contactname{
    font-size: 20px;
    color: #ffffff;
}
.us{
    margin-top: -30px;
    font-size: 85px;
    color: #ffffff;
}