.overlay-1 {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #5438dc, #b24c63);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    width: 96%;
    height: 30px;
    position: fixed;
    border-radius: 30px;
    top: 0;
    left: 50%;
    z-index: 1000;
    background-color: white;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.16);
    transform: translateX(-50.5%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}

.logo-text h2 {
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: bold;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-right: 40px;
}

.ls {
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.1s ease-in-out;
    background-color: #b24c63;
    color: black;
    z-index: 1;
}

.ls::before {
    content: "";
    position: absolute;
    background: #2904e6;
    height: 200%;
    width: 200%;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3 ease-in-out;
    z-index: -1;
}
.ls:hover {
    background: transparent;
    color:#b24c63;
}
.ls:hover::before {
transform: translate(-50%, -50%) scale(1);
}

.ls:active::before {
    background: #3500b1;
    transition: background 0s;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    width: 100vw;
    height: 60vh;
    gap: 0px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-top: 70px;
}

.card {
    position: relative;
    flex: 1;
    flex-grow: 1;
    min-width: 150px;
    height: 100%;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    transition: flex-grow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card:hover {
    flex-grow: 2;
    transform: scale(1.02);
}

.img-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.img-container img {
    will-change: filter, transform;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0;
    transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
    z-index: 2;
}

.card:hover .img-container img {
    filter: brightness(0.5) grayscale(1);
    transform: scale(1.0);
    border: 2px solid white;
}

.card:hover .text {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #666;
    padding: 5px 15px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 0;
}

.search-bar input {
    flex: 1;
    opacity: 10px;
    border: none;
    outline: none;
    padding: 0px;
    font-size: 18px;
    transition: opacity 0.3s ease-in-out;
    background-color: transparent;
}

.search-bar.active input {
    opacity: 1;
    padding: 10px;
}