/* Header */
.result-header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding: 15px 50px;
    background: linear-gradient(to right, #8c52ff 45%, #1bdaff 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    color: #fff;
}

.result-logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.result-search {
    padding: 8px;
    width: 250px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 14px;
}

.result-navigation {
    display: flex;
    align-items: center;
    gap: 20px;
}

.result-navigation a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s ease;
}

.result-navigation a:hover {
    text-decoration: underline;
}

.result-bttn-login {
    background-color: white;
    color: #8c52ff;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.result-bttn-login:hover {
    background-color: #8c52ff;
    color: white;
}


.result-main {
    padding: 120px 50px 50px; 
    text-align: center;
    font-size: 24px;
}

/* Course List */
.result-course-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 50px;
}


.result-preview {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
}

.result-preview:hover {
    transform: scale(1.05);
}

.result-thumbnail {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.result-preview p {
    margin: 10px 0 0;
    font-size: 16px;
}


.result-pagination {
    text-align: center;
    margin: 30px 0;
}

.result-pagination a {
    text-decoration: none;
    color: #8c52ff;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #8c52ff;
    margin: 5px;
    transition: 0.3s;
}

.result-pagination a:hover {
    background-color: #8c52ff;
    color: white;
}


@media (max-width: 768px) {
    .result-header {
        flex-direction: column;
        padding: 10px;
    }

    .result-search {
        width: 100%;
        margin: 10px 0;
    }

    .result-navigation {
        flex-direction: column;
        gap: 10px;
    }

    .result-course-list {
        grid-template-columns: 1fr;
    }
}
